<header role="banner" class="survey-banner">
  <div class="l-container">
    <div class="batch-g batch-g--gutter">
      <div class="batch-c-1-1 batch-c-md-3-4">
        <h2>The 2017 Louisville Tech Community Survey!</h2>
        <p>This 5-minute survey will help us serve our community in new and better ways.</p>
      </div>
      <div class="batch-c-1-1 batch-c-md-1-4">
        <a href="/community-survey/" class="btn">Take the survey</a>
      </div>
    </div>
  </div>
</header>
