<header role="banner" class="survey-banner">
  <div class="l-container">
    <div class="batch-g batch-g--align-center">
      <div class="banner-text">
        <h2>The 2017 Louisville Tech Community Survey results are in!</h2>
      </div>
      <div class="take-survey-button">
        <a href="/community-survey/2017-report/" class="btn">View the Report</a>
      </div>
    </div>
  </div>
</header>
