<header role="banner" class="survey-banner">
  <div class="l-container">
    <div class="batch-g batch-g--gutter batch-g--align-center">
      <div>
        <h2>Take the 2017 Louisville Tech Community Survey!</h2>
        <p>This 15-minute survey will help foster equality and transparency in compensation for the Louisville tech community.</p>
      </div>
      <div class="take-survey-button">
        <a href="/community-survey/" class="btn">Take the Survey</a>
      </div>
    </div>
  </div>
</header>
