<main role="main" class="l-content">
  <div class="l-container">
    <h1 id="about">Louisville Tech Community Survey</h1>

    <!--<p><a href="2017-report" class="btn">View the 2017 Louisville Tech Community Salary and Benefits Survey Report</a></h1>-->

    <p>Welcome to the inaugural salary and benefits survey for the Louisville technical community! This survey will be open for responses from December 1 to December 31, 2017. You can expect it to take approximately 10-15 minutes to complete.</p>

    <h2>Purpose of this survey</h2>
    <p>This survey is to determine how compensation for those in IT and related jobs here in Louisville compares to other areas of the country, and to determine if there are any areas of systematic income disparity. We decided to organize a survey because a conversation on the Louisville Tech Slack workspace (louisville.slack.com) showed that people are interested in this information but hesitant to publicly provide their personal information.</p>

    <h2>Who we are</h2>
    <p>This survey was organized by several interested parties via the Louisville Tech Slack. We have no financial interest in this survey or any information collected from it and we will not contact you again without your permission. If you have questions, you can email the survey organizers at <a href="mailto:louisvilletechsurvey@gmail.com">louisvilletechsurvey@gmail.com</a> or find us on Slack: Laura (@lkzwilliams), Becki (@becki), and Eric (@ericlathrop).</p>

    <h2>Confidentiality</h2>
    <p>We understand that income and other compensation can be sensitive topics. We are not collecting anyone's name, and any email address you choose to provide will be collected at the end via a separate survey. It will not be connected to any of your other responses. All of the questions are optional, so you do not need to answer any question that makes you uncomfortable, but we hope you do answer everything. The more data we have, the better answers we can provide. We appreciate you trusting us with your personal information and take confidentiality very seriously. If you decide not to participate but would still like updates about survey results, please email <a href="mailto:louisvilletechsurvey@gmail.com">louisvilletechsurvey@gmail.com</a> to be added to our mailing list.</p>

    <h2>What we will do with the data</h2>
    <p>We will release a publicly-available report after the end of the open response period showing summary data for salaries and other compensation within the Louisville technical community. Additional analyses will depend on the number of responses within each category. We want to provide as much data to the community as we can while still safeguarding confidentiality. We will also release sets of raw response data on request, but again, only to the degree that we can protect against individual identifiability of responses.</p>

  </div>
</main>
