<!DOCTYPE html>

<!--[if IE 9]>     <html class="ie ie9 lte9"> <![endif]-->
<!--[if gt IE 9]>  <html> <![endif]-->
<!--[if !IE]><!--> <html>             <!--<![endif]-->
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{title}}</title>

		<link rel="stylesheet" href="css/main.css">
		<script type="text/javascript">
			function clearTimes(){
				var items = document.getElementsByTagName("time");
				for (var i = 0; i < items.length; i++) {
					items[i].removeAttribute("data-localized");
					//console.log("time: ", i);
				}
				LocalTime.run();
			}
			var intervalId = setInterval(clearTimes, 6000);
		</script>
	</head>
	<body>

		<div class="nav-container" data-object="menu-object">
			<div class="nav-table nav-table_container">

				<div class="nav-cell">
					<nav role="navigation" class="nav-table nav-table_navigation">
						<div class="nav-cell">
							<a class="nav-link" data-object="nav-id-1" href="index.html" title="Technology Event Calendar">Tech Event Calendar</a>
						</div>
						<div class="nav-cell">
							<a class="nav-link" data-object="nav-id-2" href="groups.html" title="Technology Groups">Tech Groups</a>
						</div>
						<div class="nav-cell">
							<a class="nav-link" data-object="nav-id-3" href="conferences.html" title="Technology Conferences">Tech Conferences</a>
						</div>
						<div class="nav-cell">
							<a class="nav-link" data-object="nav-id-4" href="coworking.html" title="Coworking Spaces">Coworking Spaces</a>
						</div>
					</nav>
				</div>

				<div class="nav-cell nav-cell_utility">
					<div class="utility-table">
						<div class="utility-cell utility-cell_toggle">
							<a class="utility-link" href="#toggle-menu" title="Toggle Menu" data-behavior="toggle-menu"><i class="fa fa-bars"></i></a>
						</div>
						<div class="utility-cell">
							<a class="utility-link" href="https://twitter.com/LouisvilleIO" title="Follow @LouisvilleIO on Twitter"><i class="fa fa-twitter"></i></a>
						</div>
						<div class="utility-cell">
							<a class="utility-link" href="https://github.com/louisvilleio/louisville.io" title="Louisville GitHub Users"><i class="fa fa-github"></i></a>
						</div>
						<div class="utility-cell">
							<script async defer src="http://slackin.louisville.io/slackin.js"></script>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="l-page">
			{{> body}}
		</div>

		<footer class="l-footer" role="contentinfo">
			<div class="l-container">
				<ul class="footer-nav">
					<li class="footer-nav-item">
						<a class="footer-nav-link" href="index.html">Louisville.io Home</a>
					</li>
					<li class="footer-nav-item">
						<a class="footer-nav-link" href="code-of-conduct.html">Code of Conduct</a>
					</li>
					<li class="footer-nav-item">
						<a class="footer-nav-link" href="how-to-submit-changes.html">How to Submit Changes</a>
					</li>
				</ul>
			</div>
		</footer>

		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-63777392-1', 'auto');
			ga('send', 'pageview');
		</script>
		<script type="text/javascript" src="js/louisvilleio.js"></script>
	</body>
</html>
