<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{title}}</title>

		<link rel="stylesheet" href="css/main.css">
		<script type="text/javascript" src="js/local_time.js"></script>
	</head>
	<body>
		<h1 class="logo">Louisville Tech Calendar</h1>
		<div class="page">
			{{> body}}
		</div>
</html>
