<main role="main" class="l-content">
  <div class="l-container">


    <div class="batch-g">
      <div class="batch-c-1-2">
        <p>
          <img class="hero-logo" title="LouisvilleTech.org" src="/images/louisville-tech-logo.svg"/>
        </p>
        <p>FOR IMMEDIATE RELEASE</p>
        <p>December 5, 2018</p>
      </div>
      <div class="batch-c-1-2">
        <dl>
          <dt>
              Contact:
          </dt>
          <dd>
            Louisville Tech Community
          </dd>
          <dt>
            Email:
          </dt>
          <dd>
            <a href="mailto:louisvilletechsurvey@gmail.com">louisvilletechsurvey@gmail.com</a>
          </dd>
          <dt>
            Slack:
          </dt>
          <dd>
            <a href="https://louisville.slack.com">louisville.slack.com</a>
          </dd>
          <dt>
            Website:
          </dt>
          <dd>
            <a href="https://louisvilletech.org">louisvilletech.org</a>
          </dd>
        </dl>
      </div>
    </div>

    <h1><em>Louisville Tech Community Announces</em><br>
    <strong>SECOND ANNUAL TECH SALARY AND BENEFITS SURVEY</strong></h1>

    <p>LOUISVILLE, KY - Louisville Tech Community is conducting its 2nd annual Tech Salary and Benefit Survey.  The purpose of the survey is to assess compensation levels for those in IT and IT-related roles in Louisville and the surrounding areas and compare it to other areas of the country. The results can be used to help making hiring, job seeking, and other tech employment related decisions. A publicly available report will be released after the end of the open response period.</p>

    <p>The survey is fully anonymous and is intended for those who live or work in Louisville and the surrounding areas and have a IT or IT-related role. The survey is open for responses from December 1 to December 31, 2018 and can be accessed via direct link:<br>
    <a href="https://goo.gl/et2bBv">https://goo.gl/et2bBv</a></p>

    <p>Or via Louisville Tech Community website:<br>
    <a href="https://louisvilletech.org">https://louisvilletech.org</a></p>

    <p>In 2017 several members of Louisville Tech community decided to organize Tech Salary and Benefits Survey. The decision came following a conversation among members of the community which revealed unavailability of such information and showed great interested in obtaining it.</p>

    <p>As a result, the first survey was created and conducted in December 2017. The survey was well received and got a strong response from the community, following which the group is aiming to make this survey an annual event. The results from 2017 survey were released in web and print formats and published on the LouisvilleTech website: <a href="https://louisvilletech.org/community-survey/2017-report/">https://louisvilletech.org/community-survey/2017-report/</a></p>

    <p>This survey is written and administered by interested parties within the Louisville Tech community. The parties operate on voluntary basis and have no financial interest in this survey or any information collected from it.</p>

    <p>Given the sensitivity of the topic, confidentially is of the utmost importance to the organizers. The survey does not collect anyone's names and all questions are optional. All answers are anonymized and aggregated before being released, and any data points that could be identifiable are discarded.</p>

    <p>For more details contact the survey organizers at <a href="mailto:louisvilletechsurvey@gmail.com">louisvilletechsurvey@gmail.com</a> or drop in on the #louisvilletech-survey channel on the Louisville Tech Slack workspace.</p>

    <p>Louisville Tech Community is a self organized community that consists of people that work in IT or IT-related roles. Its goal is to give a platform for members to communicate, discuss IT related topics and to aggregate and share information about local meetups, events, conferences, co-working spaces and much more. All the information is shared on the community's website (<a href="https://louisvilletech.org">louisvilletech.org</a>) or communicated via Louisville Tech Slack workspace (<a href="https://louisville.slack.com">louisville.slack.com</a>). The community is organized and moderated by a group of volunteers and is open for everyone to join as long as they adhere to community's code of conduct. <a href="https://louisvilletech.org/code-of-conduct.html">https://louisvilletech.org/code-of-conduct.html</a></p>

    <p>END</p>
  </div>
</main>
