
@import "imports";

body {
	background:$lighter-gray;
}

h1, h2, h3, h4, h5 {
	font-weight:200;
}

h1 {
	color:$dark-gray;
	margin-bottom:$large-padding;
	@include media($medium-screen) {
		font-size:2em;
		margin-bottom:$xlarge-padding;
	}
}

h2 {
	@include media($medium-screen) {
		font-size:1.5em;
	}
}

.btn {
	padding:$large-padding ($large-padding * 2);
	border-radius:4px;
	border:1px solid $orange;
	background:$orange;
	color:$white;
	display:block;
	text-align:center;
	margin:0 $base-padding $large-padding 0;
	@include transition(all 0.2s);
	@include media($medium-screen) {
		display:inline-block;
	}
	&:hover {
		color:$orange;
		background:$white;
		border-color:$white;
	}
	&:visited {
		color: $white;
	}
	&.btn-light {
		background:transparent;
		color:$light-gray;
		border-color:$medium-gray;
		&:hover {
			background:$light-gray;
			color: $dark-gray;
		}
		&:visited {
			color: $dark-gray;
		}
	}
}

.l-page {
	padding-top:50px;
	@include media($medium-screen) {
		padding-top:55px;
	}
}

.l-container {
	margin:0 auto;
	max-width: $container-width;
	@include outer-container;
}

.l-row {
	@include outer-container;
}

.col-1-md {
	@include media($medium-screen-up) {
		@include span-columns(1);
	}
}

.col-2-md {
	@include media($medium-screen-up) {
		@include span-columns(2);
	}
}

.col-3-md {
	@include media($medium-screen-up) {
		@include span-columns(3);
	}
}

.col-4-md {
	@include media($medium-screen-up) {
		@include span-columns(4);
	}
}

.col-1-lg {
	@include media($large-screen-up) {
		@include span-columns(1);
	}
}

.col-2-lg {
	@include media($large-screen-up) {
		@include span-columns(2);
	}
}

.col-3-lg {
	@include media($large-screen-up) {
		@include span-columns(3);
	}
}

.col-4-lg {
	@include media($large-screen-up) {
		@include span-columns(4);
	}
}

.col-5-lg {
	@include media($large-screen-up) {
		@include span-columns(5);
	}
}

.col-6-lg {
	@include media($large-screen-up) {
		@include span-columns(6);
	}
}

.col-7-lg {
	@include media($large-screen-up) {
		@include span-columns(7);
	}
}

.col-8-lg {
	@include media($large-screen-up) {
		@include span-columns(8);
	}
}

.l-content {
	padding:$xlarge-padding $llarge-padding;
}

.l-footer {
	color:$white;
	background:$light-gray;
	height:200px;
	padding:40px $base-padding;
	border-top:1px solid $medium-gray;
}

.nav-container {
	background:$white;
	border-bottom: 1px solid $light-gray;
	position:fixed;
	left:0;
	right:0;
	z-index: 1000;
}

.nav-table {
	position: relative;
	@include media($medium-screen) {
		display: table;
		text-align: center;
	}
	&.nav-table_container {
		width:100%;
		margin:0 auto;
		max-width: $container-width;
	}
	&.nav-table_navigation {
		max-height: 0;
		padding-top:50px;
		overflow: hidden;
		@include transition(max-height 0.3s ease-in);
		@include media($medium-screen) {
			padding-top:0;
			display: table;
		}
		.is-open & {
			max-height: 500px;
			@include media($medium-screen) {
				max-height: auto;
			}
		}
	}
}

.nav-cell {
	@include media($medium-screen) {
		display: table-cell;
		vertical-align: middle;
	}
	&.nav-cell_utility {
		position: absolute;
		top:0;
		left:0;
		right:0;
		background:$white;
		border-bottom:1px solid $light-gray;
		@include media($medium-screen) {
			border:none;
			position:static;
			width: 200px;	
		}
	}
}

.nav-link {
	color:$medium-gray;
	padding:19px $large-padding;
	display:block;
	line-height: 1em;
	@include media($medium-screen) {
		margin-right: $large-padding;
	}
	&:visited {
		color:$medium-gray;
	}
	&:hover,
	&:focus {
		color:$white;
		background:$orange;
	}
	&.is-active {
		background:$lighter-gray;
		color:$orange;
		&:hover {
			cursor: default;
		}
	}
}

.utility-table {
	display: table;
	text-align: center;
	width:100%;
	height: 50px;
	@include media($medium-screen) {
		width: auto;
		height: auto;
	}
}

.utility-cell {
	display: table-cell;
	vertical-align: middle;
	padding:$base-padding $large-padding;
	width:40px;
	@include media($medium-screen) {
		text-align: right;
		padding:$base-padding;
	}
	&.utility-cell_toggle {
		width: auto;
		text-align: left;
		@include media($medium-screen) {
			display: none;
		}
	}
}

.utility-link {
	color: $black;
	font-size: 20px;
	&:visited {
		color: $black;
	}
	&:hover {
		color: $medium-gray;
	}
	.fa-bars {
		.is-open & {
			&:before {
				content:'\f00d';
			}
		}
	}
}

.hero {
	color:$white;
	background:$dark-gray;
	padding:$xlarge-padding $llarge-padding;
	border-bottom: 1px solid $light-gray;
}

.hero-logo {
	margin:$large-padding 0 $xlarge-padding -4px;
}

.hero-title {
	color:$orange;
	font-size: 1.5em;
	@include media($medium-screen) {
		font-size: 3em;
	}
}

.hero-callout {
  font-weight: 100;
  letter-spacing: 0.05em;
  @include media($medium-screen) {
  	font-size: 1.5em;
	  line-height: 1em;
	  padding-right:$large-padding;
  }
}

.hero-p {
	font-size: 0.75em;
	letter-spacing: 0.05em;
	@include media($medium-screen) {
		font-size: 1em;
		margin-bottom:$xlarge-padding;
	}
}

.event {
	margin-bottom:$large-padding;
	background:$white;
	// border:1px solid $blue;
	// border-left-width:6px;
	padding-top:$large-padding;
	box-shadow:0 2px 4px $medium-gray;
	@include media($medium-screen) {
		margin-bottom:$xlarge-padding;
	}
	&:hover {
		// border-color: $green;
		box-shadow:0 1px 8px $medium-gray;
		.fa {
			color:$orange;
		}
		.io-icon,
		.event-location {
			&:before {
				color: $orange;
			}
		}
	}
	&.event-calendar {
		padding-top: 0;
		@include media($medium-screen) {
			overflow:hidden;
			min-height:250px;
		}
		@include media($large-screen) {
			overflow:hidden;
			min-height:250px;
		}
	}
	&.expired {
		opacity: 0.3;
		// border-color:$red;
		display: none;
		box-shadow:0 2px 4px $medium-gray;
		@include media($medium-screen) {
			display: block;
		}
		&:hover {
			// border-color:$red;
			.fa {
				color:$medium-gray;
			}
			.io-icon,
			.event-location {
				&:before {
					color:$medium-gray;
				}
			}
		}
	}
	@include media($medium-screen-up) {
		@include span-columns(2);
		@include omega(2n);
		min-height:225px;
	}
	@include media($large-screen-up) {
		@include span-columns(2);
		@include omega(4n);
		min-height:225px;
	}
}

.event-time {
	font-size: 0.75em;
	line-height:1em;
  font-weight: normal;
  color:$medium-gray;
  padding:$large-padding;
}

.event-table {
	display:table;
	margin-bottom:$large-padding;
	width:100%;
}

.event-cell {
	display:table-cell;
	padding:$base-padding;
	vertical-align:top;
}

.event-cell_image {
	width:50px;
	max-width: 50px;
}

.event-image {
	.ie9 & {
		max-width:40px;
	}
}

.event-title {
  font-size: 1em;
  line-height: 1em;
	font-weight:700;
}

.io-icon {
	font-size: 0.9em;
  margin-bottom: $large-padding;
  font-weight: normal;
  padding:0 $large-padding 0 23px;
  position: relative;
  color:$medium-gray;
  &:before {
  	color:$medium-gray;
  	font: normal normal normal 12px/1 FontAwesome;
  	position: absolute;
	  left: 6px;
	  top:3px;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
  }
  &.io-group {
		&:before {
	  	content:'\f0c0';
	  }
  }
  &.io-mail {
		&:before {
	  	content:'\f0e0';
	  }
  }
  &.io-freenode {
		&:before {
	  	content:'\f075';
	  }
  }
  &.io-facebook {
		&:before {
	  	content:'\f09a';
	  }
  }
  &.io-twitter {
		&:before {
	  	content:'\f099';
	  }
  }
  &.io-google-plus {
		&:before {
	  	content:'\f0d5';
	  }
  }
}

.event-description {
	padding:$large-padding;
	font-size: 0.75em;
  line-height: 1.2em;
  margin-bottom: 0;
  border-top:1px solid $light-gray;
  color:$medium-gray;
  word-wrap: break-word;
  @include media($medium-screen) {
  	overflow-y: scroll;
	  max-height:142px;
  }
}

.event-location {
	padding:0 $large-padding 0 23px;
	font-size: 0.75em;
  line-height: 1em;
  margin-bottom: $large-padding;
  position: relative;
  &:before {
  	color:$medium-gray;
  	font: normal normal normal 14px/1 FontAwesome;
  	content:'\f041';
  	position: absolute;
	  left: 8px;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
  }
}

