// Style

//----------------------------------*\
// Config
//----------------------------------*/

// Reset 

@import "./node_modules/normalize.scss/normalize";

//----------------------------------*\
// Bourbon, Bitters, Neat, Batch
//----------------------------------*/

@import "./node_modules/node-bourbon/node_modules/bourbon/app/assets/stylesheets/bourbon";
@import "base/base";
@import "./node_modules/node-neat/node_modules/bourbon-neat/app/assets/stylesheets/neat";
@import "components/batch";

//----------------------------------*\
// Components
//----------------------------------*/

@import "font-awesome/font-awesome";
@import "components/global";