/*Default Website Font*/
* {
	font-family: sans-serif;
}

/*Page backround*/
body {
	background-color: #eee;
}

/*Make the .page container a flexbox container*/
.page {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/*Styling for each event item*/
.event {
	width: 300px;
	margin: 10px;
	border: 1px solid #5F9FE8;
	padding: 10px;
	background-color: #fff;
	word-wrap: break-word;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
}

.event:hover {
	border: 1px solid #EEC900;
}

.event h2 , .event h3 {
	margin: .5em 0;
}

.event h2 a, .event h3 a{
	text-decoration: none;
}

.event a {
	color: #5F9FE8;
}

.event a:hover {
	color:#EEC900;
	text-decoration: underline;
}

.event .event-title {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.event .group-logo {
	width: 75px;
}

.event .group-logo img {
	width: 100%;
}

.event p {
	margin: 1em 0;
}
