/*Page backround*/



$accent: #4180AB;
$grey: #82837E;
$rounded: 15px;

body {
	background: darken( $grey, 10%);
	color: white;
	font-family: helvetica, verdana, sans-serif;
}

a{
	color: white;
}



/*Make the .page container a flexbox container*/
.page {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.nav {
	display: flex;
	flex-direction: row;
}

.nav-item {
	flex: 1 1;
}

/*Styling for each event item*/
.event {
	color: black;
	width: 300px;
	margin: 10px;
	border: 1px solid lighten($grey, 1%);
	padding: 10px 15px;
	background-color: #fff;
	word-wrap: break-word;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
}

.event.expired {
	opacity: 0.3;
}

.event h2 , .event h3 {
	margin: 0 0 .5em;
}

.event h2 a, .event h3 a {
	text-decoration: none;
}

.event a {
	color: $accent;
}

.event a:hover {
	color: lighten($accent, 10%);
}

.event .event-title {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.event .group-logo {
	width: 75px;
	flex: 0 0 auto;
}

.event .group-logo img {
	width: 100%;
}

.event p {
	margin: 1em 0;
}


.start-time, .location{
	font-size: 12px;
	text-align: left;
	flex: 1;
	padding: 0 5px;
}

.timeandplace{
	display: flex;
	flex-direction: row;
}
