/*Default Website Font*/
* {
	font-family: sans-serif;
}

/*Page backround*/
body {
	background-color: #eee;
}

/*Make the .page container a flexbox container*/
.page {
	display: -webkit-box;
	display: -moz-box;
	display: box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-lines: multiple;
	-moz-box-lines: multiple;
	box-lines: multiple;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
	-ms-flex-pack: center;
}

.nav {
	display: -webkit-box;
	display: -moz-box;
	display: box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	box-direction: normal;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	flex-direction: row;
	-ms-flex-direction: row;
}
.nav-item {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
	-webkit-flex: 1 1;
	-moz-flex: 1 1;
	-ms-flex: 1 1;
	flex: 1 1;
}

/*Styling for each event item*/
.event {
	width: 300px;
	margin: 10px;
	border: 1px solid #5f9fe8;
	padding: 10px 15px;
	border-radius: 6px;
	background-color: #fff;
	word-wrap: break-word;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column nowrap;
	-moz-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
	-ms-flex-pack: justify;
}

.event.expired {
	opacity: 0.3;
}

.event:hover {
	border: 1px solid #eec900;
}

.event h2 , .event h3 {
	margin: 0 0 .5em;
}

.event h2 a, .event h3 a {
	text-decoration: none;
}

.event a {
	color: #5f9fe8;
}

.event a:hover {
	color: #eec900;
	text-decoration: underline;
}

.event .event-title {
	display: -webkit-box;
	display: -moz-box;
	display: box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-moz-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
	-ms-flex-pack: justify;
}



.event .group-logo {
	width: 75px;
	flex: 0 0 auto;
}

.event .group-logo img {
	width: 100%;
}

.event p {
	margin: 1em 0;
}

.event .start-time {
	color: #696969;
	font-style: italic;
	font-weight: bold;
	margin: 1em auto 1.3em;
	padding: 1em;
	text-align: center;
	font-size: 1.1em;
	border: 1px solid #558fd0;
	border-top: 6px solid #558fd0;
	background-color: #eff5fc;
	border-radius: 0 0 6px 6px;
}
