<div class="changes">
  <h2>Help Us Help You</h2>
  <p>
    Hi there! Have a new group to add to the list? See something that needs to be updated? Great!
  </p>
  <p>
    Here's how you can help:
    <ol>
      <li>
        <a href="https://github.com/louisvilleio/louisville.io">Fork the project</a>.
      </li>
      <li>
        <a href="https://github.com/louisvilleio/louisville.io/blob/master/data/groups.json">Edit the list
        of groups</a>.
      </li>
      <li>
        If you're adding a new group or updating an existing group's icon, be sure to place the group's
        icon (in PNG format) in the
        <a href="https://github.com/louisvilleio/louisville.io/tree/master/src/group-icons">group-icons
        folder</a>.
      </li>
      <li>
        <a href="https://github.com/louisvilleio/louisville.io/pulls">Submit a pull request</a> with
        your changes.
      </li>
    </ol>
  </p>

  <h3>Questions?</h3>
  <dl>
    <dt>What's all this GitHub stuff?</dt>
    <dd>
      We use Git, a version control system, to keep track of the files for this website. GitHub acts as
      a collaborative platform that hosts everything for us and allows others to propse changes. Don't worry
      if you haven't used Git or GitHub. GitHub provides some simple ways for you to create a copy of the
      site (a fork), make changes (commits), and collaborate with others.
    </dd>
    <dt>What do I need to add to the <code>groups.json</code> file?</dt>
    <dd>
      The file is formatted as JSON (Javasript Object Notation), with each group added as a property.
      The key for the group should be unique and should match the group icon's filename. Your group's
      property should be another object. Here's an example:
      <pre><code>"game-dev-lou": {
	"name": "Game Dev Lou",
	"frequency": "Meets every other Sunday @ 2pm",
	"web": "http://gamedevlou.org/",
	"freenode": "#gamedevlou",
	"mailing-list": "https://groups.google.com/forum/#!forum/gamedevlou",
	"calendar": "http://www.meetup.com/GameDevLou/events/ical/",
	"twitter": "GameDevLouKY"
},</pre></code>
      Be sure to point the <code>calendar</code> property to a valid iCalendar address; our build process pulls
      that down for parsing.
    </dd>
    <dt>Ok, ok. What's iCalendar?</dt>
    <dd>
      iCalendar (sometimes iCal) is a file format that can define events, to-do items, journal entries, etc. For events,
      we can grab the event details from the file, including date, time and place. A lot of calendar programs (Apple
      iCal, Microsoft Outlook, Google Gmail, etc.) support the format and allow you to import and export it. Sites like
      Meetup.com offer the ability to download an iCalendar file to import into
    <dt>Have more questions?</dt>
    <dd>Head over to the <a href="http://slackin.louisville.io">Slack channel</a>, and ask away.</dd>
  </dl>
</div>
