<main role="main" class="l-content">
  <div class="l-container">
    <h1>Code of Conduct</h1>
    <p>Louisville.io is working on writing a code of conduct. <a href="https://github.com/louisvilleio/louisville.io/issues/15">Help out by providing feedback on GitHub</a>.</p>
  </div>
</main>
