<main class="l-content" role="main">
  <div class="l-container">
    <h1>How to Submit Changes</h1>
    <p>
      LouisvilleTech.org is open source software, meaning anyone can look at how it
      works and propose changes. If you see something missing, broken, or just
      want to help out, you can collaborate through <a
       href="https://github.com/louisvilletech/louisvilletech.org">our github project</a>.
    </p>
    <h2>To Add or Change a Tech Group or Calendar:</h2>
    <ol>
      <li>
        <a href="https://github.com/louisvilletech/louisvilletech.org">Fork the project</a>
      </li>
      <li>
        <a href="https://github.com/louisvilletech/louisvilletech.org/blob/master/data/groups.json">Edit the list
        of groups</a>
      </li>
      <li>
        If you're adding a new group or updating an existing group's icon, be sure to place the group's
        icon (in PNG format) in the
        <a href="https://github.com/louisvilletech/louisvilletech.org/tree/master/src/group-icons">group-icons
        folder</a>
      </li>
      <li>
        <a href="https://github.com/louisvilletech/louisvilletech.org/pulls">Submit a pull request</a> with
        your changes
      </li>
    </ol>

    <h2>Questions?</h2>
    <dl>
      <dt>What's all this GitHub stuff?</dt>
      <dd>
        We use <a href="https://git-scm.com/">Git</a>, a version control system, to keep track of the files for this website. GitHub acts as
        a collaborative platform that hosts everything for us and allows others to propse changes. Don't worry
        if you haven't used Git or GitHub. GitHub provides some simple ways for you to create a copy of the
        site (a fork), make changes (commits), and collaborate with others.
      </dd>
      <dt>What do I need to add to the <code>groups.json</code> file?</dt>
      <dd>
        The file is formatted as <a href="http://json.org/">JSON</a> (JavaScript Object Notation), with each group added as a property.
        The key for the group should be unique and should match the group icon's filename. Your group's
        property should be another object. Here's an example:
<pre><code class="pre-indent-cheat">
<span class="code-o">"game-dev-lou"</span> <span class="code-c">: {</span>
  <span class="code-o">"name"</span><span class="code-c">:</span> <span class="code-n">"Game Dev Lou"</span>,
  <span class="code-o">"frequency"</span><span class="code-c">:</span> <span class="code-n">"Meets every other Sunday @ 2pm"</span>,
  <span class="code-o">"web"</span><span class="code-c">:</span> <span class="code-n">"http://gamedevlou.org/"</span>,
  <span class="code-o">"freenode"</span><span class="code-c">:</span> <span class="code-n">"#gamedevlou"</span>,
  <span class="code-o">"mailing-list"</span><span class="code-c">:</span> <span class="code-n">"https://groups.google.com/forum/#!forum/gamedevlou"</span>,
  <span class="code-o">"calendar"</span><span class="code-c">:</span> <span class="code-n">"http://www.meetup.com/GameDevLou/events/ical/"</span>,
  <span class="code-o">"twitter"</span><span class="code-c">:</span> <span class="code-n">"GameDevLouKY"</span>
<span class="code-c">},</span></code>
</pre>
        Be sure to point the <code><span class="code-o">calendar</span></code> property to a valid iCalendar address; our build process pulls
        that down for parsing.
      </dd>
      <dt>Ok, ok. What's iCalendar?</dt>
      <dd>
      <a href="https://en.wikipedia.org/wiki/ICalendar">iCalendar</a> (sometimes iCal) is a file format that can define events, to-do items, journal entries, etc. For events,
        we can grab the event details from the file, including date, time and place. A lot of calendar programs (Apple
        iCal, Microsoft Outlook, Google Calendar, etc.) support the format and allow you to import and export it. Sites like
        <a href="http://www.meetup.com/">Meetup.com</a> offer the ability to download an iCalendar file to import into your favorite calendar app.
      </dd>
      <dt>Have more questions?</dt>
      <dd>Head over to the <a href="http://slackin.louisvilletech.org">Slack channel</a>, and ask away.</dd>
    </dl>
  </div>
</main>
