<header rol="banner" class="hero">
	<div class="l-container">

		<h2 class="hero-title">Welcome to Louisville.io!</h2>

		<div class="l-row">
			<div class="col-3-md col-6-lg">
				<p class="hero-callout">A consolidated directory and calendar of technology user groups and meetups in Louisville, Kentucky. Phasellus vel felis hendrerit, hendrerit nunc non, ultricies mi. Donec rhoncus ut erat sit amet pellentesque.</p>
				<p>
					<a href="code-of-conduct.html" class="btn btn-light">Code of Conduct</a>
					<a href="how-to-submit-changes.html" class="btn btn-light">How to Submit Changes</a>
				</p>
			</div>

			<div class="col-1-md col-2-lg">
				<p class="hero-p">Request an invitation on our Slack team to join the conversation:</p>
				<script async defer src="http://slackin.louisville.io/slackin.js?large"></script>
			</div>
		</div>


	</div>
</header>

<main role="main" class="l-content">
	<div class="l-container">

		<h1>Louisville Technology Event Calendar</h1>

		<div class="l-row">
			{{#each events}}
				{{> event}}
			{{/each}}
		</div>

		</div>
</main>

<script type="text/javascript">
window.onload = function () {
	setMenuState(1);
}
</script>