<header rol="banner" class="hero">
	<div class="l-container">

		<img class="hero-logo" title="Louisville.io" src="images/louisville-io-logo-light.svg"/>

		<div class="batch-g batch-g--gutter">
			<div class="batch-c-1-1 batch-c-md-1-2">
				<p class="hero-callout">Welcome to our local tech community. Here you will find a calendar of events, a jobs board, a warm open community, and so much more.</p>
			</div>

			<div class="batch-c-1-1 batch-c-md-1-2">
				<p class="hero-p">Join the conversation by signing up for our community forum. Debate your favorite tools, discuss new technology, enjoy a deeper conversation and learn something new.</p>
					<a href="https://community.louisville.io/signup" class="btn btn-sign-up">Sign Up Now!</a>
			</div>
		</div>


	</div>
</header>

<main role="main" class="l-content">
	<div class="l-container">

		<h1>Louisville Tech Event Calendar</h1>

		<div class="batch-g batch-g--gutter batch-g--padding">
			{{#each events}}
				{{> event}}
			{{/each}}
		</div>

		</div>
</main>

<script type="text/javascript">
window.onload = function () {
	setMenuState(1);
}
</script>
