<main role="main" class="l-content">
  <div class="l-container">

    <h1>Louisville Technology Jobs</h1>
    <p>Local technology jobs posted in the <a href="https://louisville.slack.com/messages/C06N77DRR/">#jobs-postings</a> channel in the Louisville Tech Slack</p>

    <dl>
      <dt>How do I submit a job posting?</dt>
      <dd>
        <ol>
          <li>
            Join the Louisville Tech Slack:
            <a href="https://join.slack.com/t/louisville/shared_invite/zt-9l0fgrht-EpCk7jDw7LvcgETaYPV46g" style="display: inline-flex; vertical-align: middle;">
              <img src="/images/btn-add-to-slack.svg" alt="Add to Slack" style="width: 100px;" />
            </a>
          </li>
          <li>
            Navigate to the <a href="https://louisville.slack.com/messages/C06N77DRR/">#jobs-postings</a> channel
          </li>
          <li>
            Post a single message with all the relevant details
          </li>
          <li>
            Wait for an administrator to pin your message
          </li>
          <li>
            Approximately 15 minutes later your post should appear on this page
          </li>
        </ol>
      </dd>
      <dt>How do I remove my job posting?</dt>
      <dd>
        <ol>
          <li>
            Click the permalink below to open your posting inside Slack
          </li>
          <li>
            Hover over your message, and open the "&hellip;" menu
          </li>
          <li>
            Select "Un-pin from #jobs-postings"
          </li>
        </ol>
      </dd>
    </dl>

    <div class="batch-g batch-g--gutter batch-g--padding">

      {{#each jobs}}
        <div class="batch-c-1-1 event">

          <div class="event-table">
            <div class="event-cell">
              <h2 class="event-title">
                <a href="{{message.permalink}}">Posted {{format-timestamp created}}</a>
              </h2>
              <p>{{{format-slack-message message.text}}}</p>
            </div>
          </div>

        </div>
      {{/each}}

    </div>

  </div>
</main>

<script type="text/javascript">
window.onload = function() {
  setMenuState(2);
}
</script>
