<main role="main" class="l-content">
  <div class="l-container">

    <h1>Open LouisvilleTech.org Community Volunteer Positions</h1>
    <p>
      LouisvilleTech.org is built, organized, and run by volunteer community members. We need your help to make this place a vibrant and thriving community. If you're interested in helping out with one of the open coordinator positions below, please either reach out on the <a href="https://louisville.slack.com/messages/C1GDM2V4H/">#slack-meta</a> channel, or DM <a href="https://louisville.slack.com/messages/D1KF6A39D/">@ericlathrop</a> or <a href="https://louisville.slack.com/messages/D0AH66L69/">@thelilacllama</a>.
    </p>

    <h2>Calendar Coordinator</h2>
    <p>This person tracks down irregular tech-centric events, and makes the community aware of them.</p>

    <h2>Community Survey Coordinator</h2>
    <p>This person manages the process of putting out the annual <a href="/community-survey/">Louisville Tech Community Salary and Benefits Survey</a> and putting together and distributing the resulting report.</p>

    <h2>Hackathon Coordinator</h2>
    <p>This person organizes periodic hackathons focused on improving the code that runs the website and Slack.</p>

    <h2>Jobs Coordinator</h2>
    <p>This person focuses on how make the Slack and website help individuals find jobs, and help companies fill open positions.</p>

    <h2>Outreach Coordinator</h2>
    <p>This person works to increase participation in the community, especially with underrepresented groups. This person will build an understanding of the challenges these groups face when trying to participate, and help the community address them.</p>

    <h2>Storytelling Coordinator</h2>
    <p>This person plans and facilitates regularly scheduled events where community members share stories to learn from each other. Things like Q&amp;A, storytelling, show &amp; tell.</p>

    <h2>Slack Moderators</h2>
    <p>These people work towards making sure discussion on the Slack adheres to the <a href="/code-of-conduct.html">Code of Conduct</a>, keeping the Slack a safe, fun, interesting, and useful place for everyone. If you're intersted in helping moderate, please fill out the <a href="https://docs.google.com/forms/d/e/1FAIpQLSezbPjQy5OXy_EwLBhCR837UWiU2CZhGC1vZsg90UzAqJkkOg/viewform?usp=sf_link">Moderator Application Form</a>.</p>

  </div>
</main>
